html {
    text-align: center;
}

body {
    margin: 0;
    font-family: Calibri;
}

ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

#nav-top {
    font-size: 30px;
    color: white;
}

.nav-bar {
    float: left;
    padding-left: 5px;
    display: block;
    width: 10%;
    height: 1cm;
    background-color: gray;
    text-align: center;
}

.nav-bar a {
    white-space: nowrap;
}

.nav-bar-br {
    float: left;
    padding-left: 5px;
    display: block;
    width: 10%;
    height: 1cm;
    background-color: gray;
    text-align: center;
}

#nav-spacer {
    width: 100%;
    background-color: gray;
    list-style-type: none;
    padding-top: 1px;
    color: white;
    text-align: right;
}

a:hover {
    color: red;
}

a {
    text-decoration: none;
    color: white;
}

.login-hyperlink {
    color: rgb(0, 4, 255);
}

form {
    width: min(300px, 100%);
    margin: 20px auto 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
}

.hidden {
    display: none;
}

#confirmation-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    border-radius: 5px;
    text-align: center;
}

#close-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#close-button:hover {
    background-color: darkred;
}
