/* Defines CSS for all body elements */
body {
    background-color: #ffffff; /* Set the color to background to hexadecimal value #e2d1e6 */
	text-align: center; /* Centres text  */
    background-size: cover; /* Ensures img covers entire viewport */
    background-position: center bottom; /* Positions image at center bottom of page */
    background-attachment: fixed; /* Keeps image fixed in place */
}

/* Defines CSS for "title-hr" class */
.title-hr {
    border-color: #ffffff; /* Set the color to hexadecimal value #dbb5e4 */
    width: 50%; /* Sets width to 50% */
    margin: 35px auto; /* Adds a 35px margin and auto for horizontal centering */
}

.subtitle-hr {
    border-color: #ffffff; /* Set the color to hexadecimal value #dbb5e4 */
    width: 25%; /* Sets width to 25% */
    margin: 35px auto; /* Adds a 35px margin and auto for horizontal centering */
}

.icon {
	max-height: 1.2em;
	max-width: 1.2em;
	display: inline;
	vertical-align: middle;
	filter: invert(50%);
	margin-right: 5px;
}

.logo-icon {
	max-height: 0.8em;
	max-width: 1.2em;
	display: inline;
	vertical-align: middle;
	filter: invert(50%);
	margin-right: 5px;
}

.invalid {
    color: red;
}

.success {
	color: green;
}

footer {
	margin-top: auto;
}